<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/aboutUs.css">
	<script type="text/javascript" src="javascript/aboutUs.js"></script>

	<title></title>
</head>


<body>
<br>
	<br>
	<br>

	<div class="mission">
		<h3 class="animated rollIn">Our Mission and Our Founders</h3>
	</div>

	<br>
	<br>
	<br>

	<section class="page">

      <div class="tabs">


		<ul class="tab-list">
			<li class="active"><a class="tab-control animated rollIn" href="#tab-1">Mission Statement</a></li>
			<li><a class="tab-control animated rollIn" href="#tab-2">Matthew MacDermant</a></li>
			<li><a class="tab-control animated rollIn" href="#tab-3">Daniel Juncos</a></li>
			<li><a class="tab-control animated rollIn" href="#tab-4">David Quinn</a></li>
			<li><a class="tab-control animated rollIn" href="#tab-5">Tyler Gunter</a></li>
		</ul>

		<div class="tab-panel active" id="tab-1">
			<p>Our mission is to provide goods and services that will save the world
			from absolute destruction and make mandkind better people in the process.
			Superheroes do not have shit on us and we would kick all of their 
			collective asses.</p>
		</div>

		<div class="tab-panel" id="tab-2">
			<p>Matt - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="tab-panel" id="tab-3">
			<p>Dan - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="tab-panel" id="tab-4">
			<p>David is an absolute more with no intelligence and is lucky that his classmates
			are letting him join in on this project.  A rock that you find in the street has 
			more programming ability than him.</p>
		</div>
		<div class="tab-panel" id="tab-5">
			<p>Tyler - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>


	</div>
	</section>





</body>
</html>