<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

<h1>Contact MDDT</h1>
<h2>Leave your email address and message and our staff will respond as quickly as possible.</h2>

<div id='container'>

    <form action="/contactUs" method="post" id='form'>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="your email..." />

      <label for="body"></label>
      <textarea type="text" name="body" id="body" /></textarea>

      <button type="submit">Submit!</button>
    </form>
</div>