	<link rel ="stylesheet" href="../stylesheets/gallery.css">
	  <link href="../lightbox_master/dist/css/lightbox.css" rel="stylesheet">

	<div class="title_container">
	  <h1 class="gallery_title">The MDDT Project Portal</h1>
	  <h3 class="gallery_subtitle">Our work is making sure that your work lives up to it's fullest potential. From inception we at MDDT have been focused on ensuring that groundbreaking ideas find their place at the forefront of the human experience. Sift through our projects, past and present. Let our work speak for itself and let your work be the future of human innovation.</h3>
</div>
  	<br />
  	<br />

    <div class="row">
      <div class="col-xs-12 col-md-4">
      	<a href="../images/self_driving.jpg" data-lightbox="popOut" data-title="Our team worked tirelessly with Mercedes-Benz to help them realize the dream of a truly autonomous car that upon launch will allow every person the privlege of their own personal chauffeur."><img src="../images/self_driving.jpg"></a>
      	</div>
      <div class="col-xs-12 col-md-4">
        <a href="../images/cognitive_enhancement.jpg" data-lightbox="popOut" data-title="MMDT is proud to have created a world where ignorance is obsolete. The future of AI is human."><img src="../images/cognitive_enhancement.jpg"></a>
        </div>
      <div class="col-xs-12 col-md-4">
      	<a href="../images/hyperloop.jpg" data-lightbox="popOut" data-title="The subway of the future is international."><img src="../images/hyperloop.jpg"></a>
      </div> 
    </div> 
  
    	<br />

      <div class="row">
      <div class="col-xs-12 col-md-4">
      	<a href="../images/fusion_reactor.jpg" data-lightbox="popOut" data-title="MMDT is helping usher in the end of the fossil fuels era."><img src="../images/fusion_reactor.jpg"></a>
      	</div>
      <div class="col-xs-12 col-md-4">
        <a href="../images/bionics.jpg" data-lightbox="popOut" data-title="No longer shall a wheel chair be a way of life. Millions will soon know the ground beneath their feet."><img id="bionics" src="../images/bionics.jpg"></a>
        </div>
      <div class="col-xs-12 col-md-4">
      	<a href="../images/reverse_aging.jpg" data-lightbox="popOut" data-title="Time has ceased to be a death sentence. Companies in nanomedicine, cellular regeneration, and related fields have relied on the services of MDDT countless times to give us all a new lease on life."><img src="../images/reverse_aging.jpg"></a>
      </div> 
    </div> 

<script type="text/javascript" src="../lightbox_master/dist/js/lightbox.js"></script>