

<div class="homeContainer">

  <img id="backGroundInitialHome" src="../images/initialBackground02.jpg">

  <div class="videoContainer" id="videoContainerAnimate">      
          
          <video class="video" loop muted autoplay="autoplay" id="videoAnimate">
       
              <source src="../images/movingbackground.webm" type="video/webm"/>
          
          </video>

  </div>

  <h1 class="brand brandHome" id="brandHomeAnimate">MDDT</h1>

  <h1 class="brand brandHome" id="firstTextAppear">Some bullshit</h1> 
  
  <h1 class="brand brandHome" id="secondTextAppear">More bullshit</h1>

  <h1 class="brand" id="thirdTextAppear">Solutions for bullshit.</h1>

</div>

<script type="text/javascript" src="javascript/home.js"></script>