body {
	background: url("../images/background01.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

form, textarea {
	margin: 0 auto;
	width: 250px;
	height: 250px;
}

.brand {
	font-size: 150px;
	float: right;
	margin-right: 10%;
	margin-top: 5%;
	color: white;
	text-shadow: 1px 1px black;
	font-weight: bold;
}

#body, #email {
	background-color: rgba(82, 76, 76, 0.65);
}

#container {
	width: 80%;
	height: 80%;
	margin: 0 auto;
}






